@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


body{
    background-color:#757575;
}

h1{
    text-align: center;
}

.button {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #453D40;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin:4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #453D40;
    color: white;
}

.buttonn {
    text-align: center;
}